body{
    background-color:  #e7eaf6;

}
.middle{
    background-color: #a2a8d3;
    width: 60%;
    margin: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
h1{
    background-color: #38598b;
    padding: 30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
}
.smoothie_pic{
    height: 200px;
    width: 250px;
    margin-left: 170px;
}